.login-form {
    display: flex;
    align-items: center;
    min-height: 100vh;
    height: 100%;

    @include respond-to("login-menu") {
        padding: 50px 10px 100px 10px;
    }

    .login-bg {
        display: block;
        position: relative;
        width: 50%;
        height: 100vh;

        @include respond-to('container-boxed') {
            display: none;
        }

        .login-bg-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            
            .login-bg-logo {
                width: 70%;
                margin-inline: auto;

                img {
                    width: 100%;
                }
            }

            h3 {
                text-align: center;
                font-size: 23px;
                font-weight: 500;
                color: #CCCCCC;
                margin-top: 20px;
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .login-container {
        display: grid;
        place-items: center;
        height: 100%;
        width: 50%;

        @include respond-to("container-boxed") {
            width: 100%;
        }

        .extra-container {
            width:fit-content;
            height: auto;

            .logo {
                width: 80%;
                margin: auto;
                margin-bottom: 45px;

                img {
                    width: 100%;
                    max-width: 415px;
                }
            }

            .welcome {
                width: 100%;
                margin-bottom: 30px;

                .tagname {
                    display: block;
                    text-align: center;
                    font-weight: 500;
                    font-size: 15px;
                    color: #999999;
                }

                h2 {
                    text-align: center;
                    @include fontResponsive(32px, 39px, 320px, 1920px);
                    font-size: 39px;
                    font-weight: 700;
                    margin-top: 12px;
                }
            }

            .form-buttons {
                display: flex;
                justify-content: space-between;
                gap: 30px;
                width: 100%;

                @include respond-to("login-menu") {
                    flex-direction: column;
                    align-items: center;
                }

                .btn-primary {
                    width: 50%;
                    min-width: 280px;
                }

                &.login-alternatives {

                    .btn-login-alternatives {
                        border: 1px solid #CCCCCC;

                        span {
                            text-transform: none;
                            font-size: 14px;
                            color: #000000;
                            font-weight: 500;
                        }

                        svg {
                            margin-right: 10px;
                        }

                        &:hover {
                            span {
                                color: #999999;
                            }
                        }
                    }
                }

                &.submit-form {

                    .btn-primary {
                        width: 100%;
                        font-size: 13px;
                        font-weight: 500;

                        @include respond-to("login-menu") {
                            width: 50%;
                        }
                    }

                    .btn-primary:first-child{
                        background-color: var(--clr-gold);
                        color: #fff;
                    }
                    .btn-primary:last-child {
                        background-color: #E5E5E5;
                        color: #000000;
                    }

                    
                    .btn-primary:first-child:hover {
                        box-shadow: inset 0px 0px 50px 50px var(--clr-dark-gold);
                        color: #fff;
                    }

                    .btn-primary:last-child:hover {
                        box-shadow: inset 0px 0px 50px 50px #9c9c9c;
                        color: #000000;
                    }
                }
            }

            .or-divider {
                display: flex;
                justify-content: center;
                width: 100%;
                margin-block: 10px 30px;

                span {
                    font-size: 11px;
                }
            }

            .login-form-container {
                width: 100%;

                .form-box {
                    margin-bottom: 35px;

                    @include respond-to("login-menu") {
                        padding-inline: 20px;
                    }

                    label {
                        display: block;
                        width: 100%;
                        margin-bottom: 10px;
                        //ff Muli
                        font-size: 12px;
                        color: #000000;
                        text-transform: uppercase;
                        font-weight: 500;
                        letter-spacing: 1px;
                    }
                    input {
                        width: 100%;
                        //ff Muli
                        font-size: 14px;
                        color: #666666;
                        padding-bottom: 10px;
                        border: none;
                        border-bottom: 1px solid #484848;
                        background: none;
                        transition: border 300ms ease;

                        &:focus {
                            border-bottom: 1px solid var(--clr-gold);
                        }
                    }
                }

                .form-buttons.submit-form {
                    margin-bottom: 100px;

                    @include respond-to("login-menu") {
                        margin-bottom: 50px;
                    }
                }
            }

            .register {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 80px;
                border: 1px solid rgba(0, 0, 0, 0.12);

                .register-text {
                    font-weight: 500;
                    font-size: 14px;
                    margin-right: 10px;
                }

                .btn-simple {
                    color: #707070;
                    font-weight: 500;
                    font-size: 14px;
                    padding-block: 3px;
                }

                .btn-simple::before, .btn-simple::after {
                    height: 1px;
                    background-color: #707070;
                }
            }



        }
    }


}