.product-slider-brands {
    padding-bottom: 12vh;
    @include respond-to("XS") {
        padding-bottom: 6vh;
    }

    .product-slider {
        position: relative;
        overflow: hidden;
    }

    .swiper-top {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;


        .title-product-slider {
            font-weight: 500;
            @include fontResponsive(14px, 28px, 320px, 1920px);
            line-height: 1.3;

            &.center {
                text-align: center;
                position: absolute;
                width: 100%;
            }

            span {
                color: var(--clr-gold);
            }
        }

    }

    .swiper-top-btn {
        display: flex;
        margin-left: auto;
        position: relative;
        z-index: 4;

        &.mobile {
            position: absolute;
            bottom: 50%;
            justify-content: space-between;
            width: 100%;
            
            @include desktop {
                display: none;
            }
            @include respond-to("LG") {
                display: none;
            }
        }

        &.desktop {
            display: none;

            @include desktop {
                display: flex;
            }
            @include respond-to("LG") {
                display: flex;
            }

            .btn:first-child {
                margin-right: 10px;
            }
        }

        .btn {
            cursor: pointer;
            @include respond-to("XS") {
                width: 30px;
                height: 30px;

                svg {
                    width: 100%;
                    height: 100%;
                }
            }

            &.rotate {rotate: 180deg;}

            svg {
                color: var(--clr-light-gray);
                transition: color 250ms ease;
            }
            &:hover {
                svg {
                    color: var(--clr-black);
                }
            }
        }
    }
}