/* Root vars */
:root {
    --clr-white: #f8f8f8;
    --clr-white-100: #fff;
    --clr-black: #1D1D19;
    --clr-gray-999: #999999;
    --clr-light-gray: #9A9A9A;
    --clr-gray-btn:   #BFBFBF;
    --clr-dark-gray: #707070;
    --clr-gray-text: #404040;
    --clr-gray-4c: #4C4C4C;
    --clr-gold: #AE9A6D;
    --clr-dark-gold: #8f7c51;
    --clr-border-gray: rgb(182, 182, 182);
  }



  $black-mask: rgba(0, 0, 0, 0.5);
  