.home-hero {
    max-width: 100vw;
    overflow: hidden;

    .swiper-hero {
        position: relative;

        .swiper-slide{
            display: flex;
            justify-content: center;
            align-items: center;
            height: clamp(600px, 50vw ,827px);
            background-color: #ccc;

            @media screen and (max-width: 598px) {
                height: clamp(600px, 90vh, 827px);
            }
        }

        & .swiper-hero-button-prev, 
        .swiper-hero-button-next {
            @include respond-to("XS") {
                display: none;
            }
            position: absolute;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100px;
            height: 100%;
            z-index: 1;
            cursor: pointer;

            svg {
                color: var(--clr-dark-gray);
                transition: color 250ms ease-in-out;
            }

            &:hover {
                svg {
                    color: var(--clr-white);
                }
            }
        }

        .swiper-hero-button-prev {
            left: 0;
        }

        .swiper-hero-button-next {
            right: 0;
        }
    }

    .hero-slide {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        .hero-slide-img {
            position: absolute;
            top: 0;
            left: -1px;
            z-index: 1;
            width: 100%;
            height: 100%;

            img {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .hero-slide-text {
            position: relative;
            z-index: 2;
            width: 85%;
            max-width: 500px;
            padding-inline: 20px;

            @include respond-to("SM") {
                width: 45%;
                min-width: 450px;
                max-width: 700px;
            }

            @include respond-to("LG") {
                width: 734px;
                max-width: unset;
            }

            svg {
                width: 100%;

                &.desktop {
                    display: none; 
                    @include respond-to("SM") {
                        display: block;
                    }
                }
                &.mobile {
                    @include respond-to("SM") {
                        display: none;
                    }
                }
            }
        }

        .hero-slide-button {
            position: absolute;
            z-index: 2;
            left: 50%;
            transform: translate(-50%);
            bottom: min(8vh, 100px);
            width: 100%;
        }
    }

}

.product-hero {
    .container-boxed {
        padding: 0;
    }

    .hero-container {
        position: relative;
        width: 100%;
        height: 265px;

        svg {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            width: 100%;
            padding: 0 15px;
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}

.brand-hero {
    margin-top: 30px;

    .hero-container {
        position: relative;
        height: 265px;

        .hero-bg {
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        .logo {
            position: absolute;
            left: 100px;
            bottom: 0px;
            transform: translateY(50%);

            @include respond-to("XS") {
                left: 5vw;

                img {
                    width: clamp(130px, 23vw,200px);
                }
            }
        }
    }
}

.category-hero {
    .hero-container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: clamp(370px, 70vw, 560px);

        img {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .logo {
            position: relative;
            z-index: 2;

            .tagname {
                @extend .inter-medium;
                @include fontResponsive(12px, 16px, 300px, 1400px);
                color: var(--clr-white);
                text-transform: uppercase;
                letter-spacing: 2px;
                display: block;
                margin-left: 5px;
            }

            .title {
                @extend .inter-bold;
                @include fontResponsive(50px, 90px, 300px, 1400px);
                color: var(--clr-white);
                margin-top: 5px;
            }
        }
    }
}

.faq-hero {

    .hero-container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 640px;

        @include respond-to("XS") {
            height: clamp(392px, 50vh ,640px);
        } 

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

        .title {
            position: absolute;
            z-index: 2;
            font-weight: 700;
            color: var(--clr-white-100);
            text-align: center;
            @include fontResponsive(48px, 72px, 320px, 1920px);
        }
    }


}

.not-found {

    .container-fluid {
        position: relative;
        
        @include respond-to("XS") {
            height: 90vh;
        }

        .not-found-msg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            h3 {
                @include fontResponsive(40px, 72px, 300px, 1400px);
                color: #fff;
                text-align: center;
            }

            button {
                margin: 60px auto 0 auto;
            }
        }

        .not-found-bg {
            width: 100%;
            height: 100%;
            aspect-ratio: 2/1;
            object-fit: cover;
        }
    }
}