@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition($duration, $ease: 'ease') {
  -webkit-transition: all $duration unquote($ease) 0s;
  -moz-transition: all $duration unquote($ease) 0s;
  -o-transition: all $duration unquote($ease) 0s;
  transition: all $duration unquote($ease) 0s;
}

@mixin transform($x, $y, $z) {
  -webkit-transform: translate3d($x, $y, $z);
  -moz-transform: translate3d($x, $y, $z);
  -ms-transform: translate3d($x, $y, $z);
  -o-transform: translate3d($x, $y, $z);
  transform: translate3d($x, $y, $z);
}

@mixin rotate($r) {
  -ms-transform: rotate($r); /* IE 9 */
  -webkit-transform: rotate($r); /* Safari */
  transform: rotate($r);
}

@mixin scale($s) {
  -ms-transform: scale($s); /* IE 9 */
  -webkit-transform: scale($s); /* Safari */
  transform: scale($s);
}

@mixin skew($deg) {
  -ms-transform: skewY($deg);
  -webkit-transform: skewY($deg);
  transform: skewY($deg);
}

@mixin backfacevisibility($value) {
  -webkit-backface-visibility: $value;
  -moz-backface-visibility: $value;
  -ms-backface-visibility: $value;
  backface-visibility: $value;
}
